
body {
  font-family: Arial, sans-serif;

  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 30%;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.display {
  font-size: 36px;
  color: #fff;
  background-color: #8e8c8c;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  flex: 0 0 calc(25% - 10px);
  margin: 5px;
  padding: 15px;
  font-size: 24px;
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.button:hover {
  background-color: #555;
}

#button_equal {
  background-color: #c6b546;
  height: 56px;
  width: 48%;
  margin-top: 6px;
  margin-left: 4px;
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#button_equal :hover {
  background-color: #ffdd00;

}
.button.clear {
  background-color: #c6b546;
  
}

.button.clear:hover {
  background-color: #f5d400;
}

.button.operator {
  background-color: #c6b546;
}

.button.operator:hover {
  background-color:  #ffe32a;
  
}



